<html>
    <head>
        <title></title>
        <link href="static/css/login.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <fieldset>
                <legend>Enter login information:</legend>
                <label for="username" >Email or Username:</label>
                <input id="username" type="text">

                <label for="password">Password:</label>
                <input id="password" type="password">
                <button id="submit_button">Submit</button>
            </fieldset>
        </div>
        <script src="static/js/login.js"></script>
    </body>
</html>