<html>
    <head>
        <title></title>
        <link href="static/css/login.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <fieldset>
                <legend>Enter Personal information:</legend>
                <label for="firstname" >First Name:</label>
                <input id="firstname" type="text">

                <label for="lastname" >Last Name:</label>
                <input id="lastname" type="text">

                <label for="email" >Email:</label>
                <input id="email" type="text">

                <label for="username" >Username:</label>
                <input id="username" type="text">

                <label for="password">Password:</label>
                <input id="password" type="password">
                <button id="submit_button">Submit</button>
            </fieldset>
        </div>
        <script src="static/js/signup.js"></script>
    </body>
</html>