<html>
    <head>
        <title></title>
        <link href="static/css/login.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <form action="/process_signup" method="POST">
                <fieldset>
                    <legend>Enter Personal information:</legend>
                    <label for="firstname" >First Name:</label>
                    <input id="firstname" type="text" name="firstname">
    
                    <label for="lastname" >Last Name:</label>
                    <input id="lastname" type="text" name="lastname">
    
                    <label for="email" >Email:</label>
                    <input id="email" type="text" name="email">
    
                    <label for="username" >Username:</label>
                    <input id="username" type="text" name="username">
    
                    <label for="password">Password:</label>
                    <input id="password" type="password" name="password">
                    <button id="submit_button">Submit</button>
                    <input type="submit">Submit</input>
                </fieldset>
            </form>
            
        </div>
        <script src="static/js/signup.js"></script>
    </body>
</html>